body {
	font-family: arial, helvetica; sans-serif;
	font-size: 12px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: verdana;
}

h1 {
	font-size: 36px;
}

h2 {
	margin: 0;
	font-size: 18px;
}

h3 {
	font-weight: normal;
	font-size: 14px;
	margin: 0 0 10px 0;
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

.header { 
	text-align: center;
	margin: 0 0 30px 0;
}

.footer {
	margin: 20px 0;
	text-align: center;
	font-size: 10px;
	color: #666;
}

.clear {
	clear: both;
	width: 100%;
	height: 0;
}

.grid {
	border-collapse: collapse;
	font-size: 16px;
	line-height: 16px;	
}

.grid td {
	width: 33px;
	height: 33px;
	border: 1px solid #000;
	position: relative;
	text-align: center;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.black {
	background-color: #000;
}

td div {
	position: absolute;
	top: 0;
	left: 2px;
	font-size: 10px;
	color: #333;
}

.answer {
	font-weight: bold;
}

.highlighted {
	background-color: #ccf;
}

.error {
    background: linear-gradient(45deg, transparent 75%,#f00 75%,#f00 100%);
}

.black.error {
    background: linear-gradient(45deg, #000 75%,#f00 75%,#f00 100%);
}

.activeError::before, .activeError::after {
    content: '';
    position: absolute;
    top: -70.7%;
    left: -70.7%;
    height: 141.4%;
    width: 141.4%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
    transform: rotate(45deg);
}

.activeError::before {
    left: 29%;
}
.activeError::after {
    transform: rotate(-45deg);
}

.selected {
	background-color: #66f;
	color: #fff;
}

.gridColumn {
	width: 67%;
	float: left;
}

.clueColumn {
	width: 33%;
	float: left;
}

.across, .down {
	padding: 0;
	margin: 0;
	list-style-type: none;
	cursor: default;
	font-size: 12px;
}

.across li, .down li {
	padding: 0 0 0 20px;
	text-indent: -20px;
}

h3 {
	margin: 0 0 10px 0;
}

.clues {
	height: 200px;
	overflow: scroll;
	border: 1px solid #ddd;
	width: 400px;
	padding: 5px;
	position: relative;
	margin: 0 0 20px 0;
}

.hiddenNote {
	display: none;
	font-size: 12px;
	color: #666;
	border: 1px solid #66f;
	padding: 3px;
	border-radius: 5px;
	width: 60%;
}

.showNote {
	display: inline-block;
	padding: 5px 10px;
	background-color: #66f;
	border: 1px solid #ccf;
	border-radius: 3px;
	text-decoration: none;
	font-size: 10px;
	color: #fff;
	cursor: pointer;
}

.symmetry {
	font-size: 12px;
}

.symmetry label {
	font-weight: bold;
}

.addBlack {
	display: inline-block;
	padding: 5px 10px;
	background-color: #000;
	border: 1px solid #000;
	border-radius: 3px;
	text-decoration: none;
	font-size: 10px;
	color: #fff;
	margin-right: 10px;
}


#errorMessage {
	font-weight: bold;
	color: #f00;
}

.uploadForm {
	border: 1px solid #ccc;
	padding: 20px;
	width: 300px;
	margin: 0 auto;
}